@{
    ViewData["Title"] = "Eliminar Tablero";
}

@model Tablero

<h1>@ViewData["Title"]</h1>
<form asp-controller="Tablero" asp-action="DeleteConfirmed" method="post">
    <input hidden asp-for="@Model.Id">
    <p>¿Está seguro de eliminar el tablero '@Model.Nombre'?</p>
    <div>
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-controller="Tablero" asp-action="Index" class="btn btn-secondary boton">Cancelar</a>
    </div>
</form>