html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.boton{
  background-color: #920ACD;
  color:#ffff;
}

.boton:hover{
  background-color: #D27DF7;
  color: #920ACD;
}

a:hover{
  color: #920ACD;
}
a{
  color: #fff;
  text-decoration: none;
} 